* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #CDF0EA;
}

.kata1 {
    position: absolute;
    width: 586px;
    height: 120px;
    left: 579px;
    top: 335px;
    font-family: 'Gluten';
    font-style: normal;
    font-weight: 200;
    font-size: 32px;
    line-height: 28px;
    color: #BEAEE2;
}

.kata2 {
    position: absolute;
    width: 767px;
    height: 34px;
    left: 317px;
    top: 478px;
    font-family: 'Gluten';
    font-style: normal;
    font-weight: 300;
    font-size: 96px;
    line-height: 85px;
    color: #BEAEE2;
}

.kata3 {
    position: absolute;
    width: 586px;
    height: 113px;
    left: 260px;
    top: 566px;
    font-family: 'Gluten';
    font-style: normal;
    font-weight: 200;
    font-size: 32px;
    line-height: 28px;
    color: #BEAEE2;
}

.kata4 {
    position: absolute;
    width: 586px;
    height: 178px;
    left: 431px;
    top: 281px;
    font-family: 'Gluten';
    font-style: normal;
    font-weight: 200;
    font-size: 32px;
    line-height: 28px;
    text-align: center;
    color: #BEAEE2;
}

.kata5 {
    position: absolute;
    width: 767px;
    height: 34px;
    left: 351px;
    top: 478px;
    font-family: 'Gluten';
    font-style: normal;
    font-weight: 300;
    font-size: 96px;
    line-height: 85px;
    color: #BEAEE2;
}

.kata6 {
    position: absolute;
    width: 586px;
    height: 101px;
    left: 431px;
    top: 332px;
    font-family: 'Gluten';
    font-style: normal;
    font-weight: 200;
    font-size: 32px;
    line-height: 28px;
    text-align: center;
    color: #BEAEE2;
}

.gambar1 {
    position: absolute;
    width: 520px;
    height: 455px;
    left: 0px;
    top: 0px;
}

.gambar2 {
    position: absolute;
    width: 484px;
    height: 484px;
    left: 894px;
    top: 540px;
}

.gambar3 {
    position: absolute;
    width: 280px;
    height: 44px;
    left: 553px;
    top: 728px;
}

.gambar4 {
    position: absolute;
    left: 36.81%;
    right: 36.8%;
    top: 543px;
    bottom: 133.05 px;
}

.gambar5 {
    position: absolute;
    width: 280px;
    height: 44px;
    left: 580px;
    top: 178px;
}

.gambar6 {
    position: absolute;
    width: 285px;
    height: 44px;
    left: 577px;
    top: 913px;
}